<div id="carouselExampleIndicators" class="carousel slide owl-two" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-cover">
      <div class="carousel-item cloned" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team6.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>William James</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item cloned" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team6.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>William James</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item active" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team3.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>Isabella Mia</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team4.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>Benjamin Lucas</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team5.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>Oliver Bradley</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team6.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>William James</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item cloned" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team3.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>Isabella Mia</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item cloned" style="width: 655px;">
        <div class="item">
          <div class="slider-info mt-lg-4 mt-3">
            <div class="img-circle">
              <img src="./Image/team4.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="message">
              <i class="fa fa-quote-left"></i>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore alias reprehenderit eaque ab accusantium blanditiis recusandae distinctio quod ad esse?</p>
              <div class="name mt-4">
                <h4>Benjamin Lucas</h4>
                <p>Company name</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>