/* start header */
header{
    position: fixed;
    height: auto;
    padding: 15px 0;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    background-color: white;
    z-index:2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar {
    padding: 0;
}

.navbar-brand
{
    color: #DC4F72 !important;
    font-weight: 700;
    font-size: 26px !important;
}

.navbar-nav {
    align-items: center;
}


.navbar-nav a.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 8px 0px;
    transition: 0.5s;
    position: relative;
    margin: 0px 10px;
    /* Cách 2 - nav-link */
    overflow: hidden; 
}
.navbar-nav .active .nav-link{
    color: #DC4F72 ;
}

a.dropdown-item{
    font-size: 1rem;
    font-weight: 400;
    position: relative;
}

.navbar-nav a.nav-link:hover,
.dropdown-menu a.dropdown-item:hover
{
    color: #DC4F72;
}

.dropdown-menu a.dropdown-item::before{
    content: "";
    height: 2px;
    width: 0%;
    position: absolute;
    background-color: #DC4F72;
    left: 10;
    bottom: 0;
    transition: 1s;
}

.dropdown-menu a.dropdown-item:hover::before,
.dropdown-menu .dropdown-item:before
{
    width: 20%;
}

.navbar-nav a.nav-link::before
{
    content: "";
    height: 2px;
    width: 0%;
    margin: 0 auto;
    position: absolute;
    background-color: #DC4F72;
    left: 10;
    bottom: 0;
    transition: 0.5s;
}

.navbar-nav a.nav-link:hover::before,
.navbar-nav .nav-link::before
{
    width: 30%;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    line-height: 52px;
    padding: 0px 30px;
    text-transform: uppercase;
    cursor: pointer;
    color: #DC4F72;
    border-color: #DC4F72;
    transition: 0.5s;
}
.btn:hover{
    color: white;
    border-color: #DC4F72 !important;
    background-color: #DC4F72 !important;
}
/* end header */

/* start carousel */
#carousel .content{
    margin-top: 70px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #fff;
    background-image: url(./Image/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: block;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    background-position: center;
}

#carousel .content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.92);
}

#carousel .content-left h3{
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    color: #2C3038;
}

#carousel .content-left p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 400px;
    color: #5a5a5a;
}

#carousel .content-right{
    transform: rotate(180deg);
    display: block;
}


#carousel .content-right img{
    max-width: 100%;
    height: auto;
}

/* end carousel */

/* start project */
#project {
    padding-top: 50px;
    padding-bottom: 50px;
}
#project .header-section{
    max-width: 750px;
    margin: 0 auto;
}

#project .header-section h6{
    font-size: 16px;
    color: #DC4F72;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

#project .header-section h3{
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

#project .header-section p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
}

#project .block {
    border-radius: 6px;
    background-color: #F7F9FC;
    padding: 3rem 3rem;
    border: 1px solid #F7F9FC;
    transition: 0.5s;
}

#project .block:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid #eee;
    transform: translateY(-0.5rem);
}
/* end project */

/* start about */
#about {
    padding-top: 40px;
    background-color: #F7F9FC;
}
#about .title{
    text-transform: uppercase;
    color: #DC4F72;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 6px;
}

#about h3{
    text-transform: capitalize;
    font-size: 34px;
    color: #2C3038;
    font-weight: 700;
}

#about p{
    font-size: 16px;
    line-height: 24px;
    color: #5a5a5a;
}

#about .btn{
    background-color: #DC4F72;
    border-color: #DC4F72;
    color: #fff;
    cursor: pointer;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
    transition: 0.5s;
}

#about .btn:hover{
    color: #fff;
    background-color: #d62f58 !important;
    border-color: #cf2952 !important;
}

#about .about-img{
    border-radius: 6px;
    transition: 0.5s;
    max-width: 100%;
    height: auto;
}

#about .about-img:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: translateY(-0.5rem);
}
/* end about */

/* start number */
#number {
    padding-bottom: 50px;
    background-color: #F7F9FC;
}
#number .number-infor {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    border: 1px solid #eee;
    transition: 0.5s;
}

#number .number-infor:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}

#number .number-infor h4{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    color: #2C3038;
    line-height: 24px;
}

#number .number-infor .counter{
    color: #DC4F72;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin: 10px 0px;
}

#number .number-infor p{
    color: #5a5a5a;
}
/* end number */

/* start infor */
#infor .new-block{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0,0,0,0.33)), url(./Image/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: grid;
    align-items: center;
    min-height: 480px;
    padding: 2rem 0;
}

#infor .section{
    max-width: 550px;
    z-index: 10;
}

#infor .section h2{
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

#infor .section p{
    color: #eee;
    font-size: 16px;
    line-height: 24px;
}

#infor .section .btn{
    cursor: pointer;
    background-color: #fff;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    transition: 0.5s;
    font-size: 14px;
    padding: 0 30px;
    font-weight: 700;
    line-height: 52px;
}

#infor .section .btn:hover{
    background-color: #e2e6ea !important;
    border-color: #dae0e5 !important;
}
/* end infor */

/* start solution */
#solution{
    padding-top: 50px;
    padding-bottom: 50px;
}

#solution .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

#solution .header-solution{
    max-width: 750px;
    margin: 0 auto;
}

#solution .header-solution h6{
    text-transform: uppercase;
    color: #DC4F72;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#solution .header-solution h3{
    color: #2C3038;
    line-height: 1;
    font-size: 46px;
    font-weight: 700;
}

#solution .header-solution p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
}

#solution .solution-block{
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    transition: 0.3s ease-in;
    position: relative;
}

#solution .solution-block:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}


#solution .block-img{
    position: relative;
    overflow: hidden;
}

#solution .block-img img{
    width: 100%;
    display: block;
    height: auto;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    filter: grayscale(1);
}

#solution .solution-block:hover img{
    filter: grayscale(0);
}

#solution .block-img p{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background-color: #DC4F72;
    position: absolute;
    padding: 15px;
    top: 0;
    right: 0;
    margin: 0;
    border-bottom: none;
    border-radius: 0px 6px 0px 0px;
}

#solution .block-infor{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 0px 0px 6px 6px;
}

#solution .block-infor label.tag-label{
    padding: 5px 16px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 16px;
}

#solution .block-infor label.tag-label.red{
    background: rgba(238, 97, 120, 0.2);
    color: #DC4F72;
}

#solution .block-infor label.tag-label.green{
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

#solution .block-infor label.tag-label.blue{
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}


#solution .block-infor h4{
    cursor: pointer;
    font-size: 22px;
    line-height: 28px;
    color: #2C3038;
    font-weight: 600;
    display: block;
    transition: 0.5s;
}

#solution .solution-block:hover h4{
    color: #DC4F72;
}

#solution .block-infor p{
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#solution .block-infor a.btn-news{
    border-radius: 0;
    color: #DC4F72;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    border: white;
    padding: 0;
    display: inline-block;
    text-transform: capitalize;
}

#solution .block-infor a.btn-news:hover{
    color: #DC4F72;
    background-color: white !important;
}

#solution .block-infor a.btn-news i{
    font-size: 60%;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 22px;
    transition: 0.5s;
}

#solution .solution-block:hover a.btn-news i{
    right: -16px;
}

/* end solution */

/* start question */
#question{
    background-color: #F7F9FC;
}

#question .header-question{
    max-width: 750px;
    margin: 0 auto;
}

#question .header-question h6{
    text-transform: uppercase;
    color: #DC4F72;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#question .header-question h3{
    color: #2C3038;
    line-height: 1;
    font-size: 46px;
    font-weight: 700;
}

#question .header-question p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
}

#question .row img{
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
    max-width: 100%;
    height: auto;
}

#question .row img:hover{
    transform: translateY(-0.5rem);
}

#question .fag-page ul{
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

#question .fag-page li{
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
}

#question .fag-page input[type=checkbox]{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 80%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;

}

#question .fag-page i{
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
}

/* before */
#question .fag-page input[type=checkbox]:checked ~ i::before {
    transform: translate(2px, 0) rotate(45deg);
}

#question .fag-page i::before {
    transform: translate(-2px, 0) rotate(45deg);
}

#question .fag-page i::before {
    content: "";
    position: absolute;
    background-color: #2C3038;
    width: 3px;
    height: 9px;
    transition: 0.5s;
}

/* after */
#question .fag-page input[type=checkbox]:checked ~ i::after {
    transform: translate(-2px, 0) rotate(-45deg);
}

#question .fag-page i::after {
    transform: translate(2px, 0) rotate(-45deg);
}

#question .fag-page i::after {
    content: "";
    position: absolute;
    background-color: #2C3038;
    width: 3px;
    height: 9px;
    transition: 0.5s;
}


#question .fag-page h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: #2C3038;
}

#question .fag-page p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    transition: 0.2s ease-in-out;
}

#question input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
/* end question */

/* start features */

#features{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#features .header-features{
    max-width: 750px;
    margin: 0 auto;
}

#features .header-features h6{
    text-transform: uppercase;
    color: #DC4F72;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#features .header-features h3{
    color: #2C3038;
    line-height: 1;
    font-size: 46px;
    font-weight: 700;
}

#features .header-features p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
}

#features .nav-link{
    color: #DC4F72;
}

#features .nav li{
    font-size: 22px;
    font-weight: 700;
    padding: 15px;
    margin: 0;
    float: left;
    width: 33%;
    cursor: pointer;
    text-align: center;
    color: #4E5B61;
    background: #fff !important;
    /* border-bottom: 3px solid #DC4F72 !important; */
}

#features .nav-item a{
    color: #5a5a5a !important;border-bottom: 3px solid #5a5a5a;
}

#features .nav-link.active {
    border-bottom: 3px solid #DC4F72 !important;
    background-color: #fff !important;
}

#features .tab-content img{
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    transition: 0.5s;
}

#features .tab-content img:hover{
    transform: translateY(-0.5rem);
}

#features .tab-content .btn{
    display: inline-block;
    color: #DC4F72;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

#features .tab-content .btn:hover{
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

/* end features */

/* start testimonials */
#testimonials .carousel-indicators {
    margin-top: 30px;
    bottom: -55px;
    position: absolute;
    left: 0;
    right: 0;
}
#testimonials .carousel-indicators .active{
    background-color: #DC4F72;
    
}

#testimonials .carousel-indicators li{
    height: 8px;
    width: 50px;
}

#testimonials .header-testimonials{
    max-width: 750px;
    margin: 0 auto;
}

#testimonials .header-testimonials h6{
    text-transform: uppercase;
    color: #DC4F72;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

#testimonials .header-testimonials h3{
    color: #2C3038;
    line-height: 1;
    font-size: 46px;
    font-weight: 700;
}

#testimonials .header-testimonials p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
}

#testimonials .testimonials-container{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(./Image/b2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


#testimonials .carousel-cover{
    width: 5952px;
    position: relative;
}

#testimonials .slider-info {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}

#testimonials .carousel-item {
    float: left;
    min-height: 1px;
    touch-action: pan-y;
    user-select: none;
    position: relative;
}

#testimonials .img-circle{
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #DC4F72;
}

#testimonials .img-circle img{
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

#testimonials .message{
    position: relative;
    padding: 0;
    margin-top: 1rem;
}

#testimonials .message p{
    font-size: 18px;
    line-height: 26px;
    color: #2C3038;
}
#testimonials .message i{
    font-size: 30px;
    color: #2C3038;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}


#testimonials .name h4{
    font-size: 18px;
    color: #DC4F72;
    font-weight: 400;
}

#testimonials .name p{
    font-size: 13px;
    color: #5a5a5a;
}

#testimonials .owl-dots{
    text-align: center;
    margin-top: 0px;
    bottom: -55px;
    position: absolute;
    left: 0;
    right: 0;
}

#testimonials .owl-dot.active span{
    background: #DC4F72 !important;
}

#testimonials .owl-dot span{
    border-radius: 0 !important;
    padding: 0px 20px 0px 20px;
    border-color: #fff;
}

/* end testimonials */

/* start build */

#build{
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#build .header-build{
    max-width: 750px;
    margin: 0 auto;
}

#build .header-build h3{
    color: #2C3038;
    line-height: 1;
    font-size: 46px;
    font-weight: 700;
}

#build .header-build p{
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 0 auto;
}

#build .btn-primary{
    background-color: #DC4F72;
    color: #fff;
    transition: 0.5s;
}

#build .btn-primary:hover{
    color: #fff;
    background-color: #d62f58 !important;
    border-color: #cf2952 !important;
}

/* end build */

/* start footer */
footer {
    padding-top: 3rem;
}

footer .cover-container{
    background: #F7F9FC;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

footer h3{
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    font-weight: 700;
}

footer ul{
    padding: 0;
    margin: 0;
}

footer .footer-gd-16 li{
    display: block;
    list-style: none;
    margin: 10px 0;
    font-size: 15px;
    line-height: 23px;
    color: #656f7b;
    text-transform: capitalize;
    padding-left: 0;
}

footer .end-column{
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

footer .end-column h4{
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}

footer .subscribe input[type="email"]{
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}

footer .subscribe button{
    text-align: center;
    background: #DC4F72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

footer .end-column p{
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

footer .below-section {
    border-top: 1px solid #eaeaea;
}

footer .columns p{
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

footer .columns a{
    color: #2C3038;
}

footer .columns-2 {
    text-align: center;
}


footer .columns-2 ul{
    padding: 0;
    margin: 0;
}

footer .columns-2 li{
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;
    transition: 0.5s;
    padding: 0px 10px;
}

footer .columns-2 li:hover{
    color: #DC4F72;
}





/* end footer */

/* start top */

.backToTop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    text-align: center;
    background: #DC4F72;
    font-weight: bold;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    transition: all 5s;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
/* end top */


/* start container size */

@media (min-width: 576px){
    .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* end size */

/* start header size */
@media only screen and (max-width: 991px){
    .navbar-toggler {
        padding: 0rem 0rem !important;
    }
}

@media only screen and (max-width:991px){
    .navbar-toggler{
        border: 0 none;
        font-size: 24px;
    }
}

@media only screen and (max-width:991px){
    .navbar-toggler-icon.fa{
        color: #fff;
        background-color: #DC4F72;
        line-height: 32px;
        border-radius: 4px;
        text-align: center;
    }
}

/* end header size */




